<div class="row">
    <div class="col-md-12">
        <div class="grid-layer">
            <div itemscope itemtype="http://schema.org/LocalBusiness">
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <b class="text-uppercase">Telefon</b>
                    <p>
                        <a href="tel: +493717750014"><span itemprop="telephone">0371 775 00 14</span></a><br />
                        <a href="tel: +491749393140">0174 93 93 140</a><br />
                        <a href="whatsapp://send?phone=+491749393140">WhatsApp</a>
                    </p>
                </div>
                <div class="grid-layer">
                    <b class="text-uppercase">E-Mail</b>
                    <p>
                        Patienten: <a href="mailto: kontakt@neurospine-chemnitz.de">kontakt@neurospine-chemnitz.de</a><br />
                        Geschäftspartner: <a href="mailto: info@neurospine-chemnitz.de">info@neurospine-chemnitz.de</a>
                    </p>
                </div>
                <div class="grid-layer">
                    <b class="text-uppercase">Adresse</b>
                    <p>
                        <span itemprop="streetAddress">Zeisigwaldstraße 80</span>,<br />
                        <span itemprop="addressLocality">09130 Chemnitz</span>,<br />
                        <span itemprop="addressRegion">Sachsen</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>