{% extends 'base.html.twig' %}

{% block body %}

    <div id="service">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-cover-img big" style="background-image: url('{{ asset("assets/img/service/diagnostik.jpg") }}')">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="layer single-page">
                        <h5 class="text-center">...wenn es auf eine exakte Diagnose ankommt:</h5>
                        <h2 class="section_header text-uppercase text-center">Diagnostik</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-4 bullet">
                                        <p>Neuroelektrodiagnostik</p>
                                        <p>Evozierte Potentiale</p>
                                        <p>Magnetstimulation</p>
                                        <p>Ausschlussdiagnostik  pAVK</p>
                                     </div>
                                    <div class="col-md-8">
                                        <p>
                                            Das Bindeglied zwischen Auffälligkeiten in der Bildgebung ( MRT / CT/ Rö.) und ihren aktuellen Beschwerden ist die Neurologische Diagnostik . Sie beweist letztendlich ( oder schliesst dies sicher aus), ob nervale Strukturen wie Rückenmark oder Nervenwurzeln durch auffällige Veränderungen geschädigt werden und sichern so eine genaue Diagnose. Nicht nur auf diese kommt es an,  sondern auch auf eine genaue Bestimmung des Stadiums der Erkrankung/Schädigung sowie ob andere Begleiterkrankungen neben der Hauptdiagnose zum Beschwerdebild beitragen und mitbehandelt werden sollten.<br />
                                            Unsere Praxis ist in der Lage diese zielführende Diagnostik durchzuführen, sofern sie zum Vorstellungszeitpunkt nicht bereits von einem FA f. Neurologie oder einer Neurologischen Klinik auf Überweisung ihres Hausarztes veranlasst wurde. Bringen sie diese Vorbefunde bitte zur Erstvorstellung mit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}