{% extends 'base.html.twig' %}

{% block body %}

    <div id="service">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-cover-img big" style="background-image: url('{{ asset("assets/img/service/konservative-therapie.jpg") }}')">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="layer single-page">
                        <h5 class="text-center">...wenn NICHTS tun zu wenig und Operieren zu viel ist:</h5>
                        <h2 class="section_header text-uppercase text-center">Konservative Therapie</h2>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <p>In den wenigsten Fällen ist eine Operation notwendig.
                                    Aber nur eine Krankschreibung und Abwarten reicht auch nicht aus, wenn der Patient Schmerzen hat . Oftmals braucht ihr Körper durch gezielte Physiotherapie und eine kurzfristige Gabe des richtigen Medikaments auch nur den entscheidenden Anstoss um seine Selbstheilungskräfte zu aktivieren</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Physiotherapie</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Wissenschaftlich auswertbare Studien beweisen, dass bei Wirbelsäulenbeschwerden, Bewegung besser ist als Bettruhe. Hierdurch wird der venöse Abfluß im Spinalkanal gefördert. Zudem bei Wechsel aus Bewegung und Bettruhe Besserung der Nährstoffversorgung der Bandscheibe.</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Vorraussetzung für die konservative Therapie ist, dass keine akuten schwerwiegenden neurologischen Ausfälle (z.B. Lähmungen und Muskelschwäche oder dauerhafte Gefühlsstörungen / Blasendysfunktion ) vorliegen, denn diese münden ohne <a href="{{ path('service_operativetherapie') }}">operative Therapie</a> in aller Regel in einen Dauerschaden, der verhindert werden sollte. </p>
                                        </div>
                                    </div>
                                    <hr />
                                    <p>Zur <a href="{{ path('service_stosswellentherapie') }}">Stoßwellentherapie</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}