{% extends 'base.html.twig' %}

{% block body %}

    <div id="service">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-cover-img big" style="background-image: url('{{ asset("assets/img/service/stosswellentherapie.jpg") }}')">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="layer single-page">
                        <h2 class="section_header text-uppercase text-center">Stosswellentherapie ( ESWT) </h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Die Zunahme myofaszialer Beschwerden hat ihre Ursache in einem – meist durch anhaltende, bewegungsarme Fehlhaltung (PC-Arbeitsplatz) provozierten Muskel-Sehnen-Schmerz. Diese schmerzhaften Verklebungen der Muskulatur (myofasziale Triggerpunkte) können mit der neuesten Generation moderner Stoßwellengeräte mit höherer Wirktiefe und Effiziens als mit herkömmlichen Massagen bzw. manueller Therapie behandelt werden.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Wie wirkt Stoßwellentherapie?</h5>
                                        <p>Applikatoren mit anatomisch geformter Kontaktfläche übertragen die Energie der radialen Stosswelle sehr viel konzentrierter auf die tiefliegende, filigrane Stützmuskulatur der Wirbelsäule und bewirken die schonende und risikofreie Behandlung myofaszialer Schmerzen.  </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="btn_wa">
                                            <b class="btn btn-neurospine">Schmerzlindernd</b><br /><br />
                                            <b class="btn btn-neurospine">Stoffwechselaktivierend</b><br /><br />
                                            <b class="btn btn-neurospine">Durchblutungsfördernd</b><br /><br />
                                            <b class="btn btn-neurospine">Muskelentspannend</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}