{% extends 'base.html.twig' %}

{% block body %}

    <div id="service">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-cover-img big" style="background-image: url('{{ asset("assets/img/notfall.jpg") }}')">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="layer single-page">
                        <h5 class="text-center">Wann ist der Rückenschmerz ein</h5>
                        <h2 class="section_header text-uppercase text-center">Notfall</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 bullet text-justify">
                                <div>Folgende Warnsymptome sollten Sie ernst nehmen und umgehend den Spezialisten / Neurochirurgen  aufsuchen:</div>
                                <p><b>Probleme beim Wasserlassen oder Stuhlgang in Verbindung mit kürzlich oder akut aufgetretenen Rücken/Beinschmerzen ohne urologische Vorerkrankungen</b></p>
                                <p><b>Plötzlich aufgetretene und andauernde Taubheitsgefühle oder Schwäche / Lähmungen  in Beinen oder Füssen, Armen oder Händen</b></p>
                                <p><b>Anhaltender Rücken/Beinschmerz in Gefolge eines Unfalles oder Gewalteinwirkung, Hubbelastung</b></p>
                                <p><b>Rückenschmerz in Verbindung mit Fieber / Schüttelfrost</b></p>
                                <p><b>Plötzlicher Rückenschmerz mit Krebserkrankung in der Vorgeschichte, starker Gewichtsverlust oder rasche Ermüdbarkeit</b></p>
                                <p><b>Ist der Schmerz in der Nacht besonders stark?</b></p>
                                <div>Sie haben außerhalb der Praxisöffnungszeiten diese Beschwerden, aber die Behandlung kann nicht bis zum nächsten Werktag aufgeschoben werden > dann wählen Sie entweder </div>
                                <hr />
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <h5 class="text-center">Telefon <span class="h3"><b>116117</b></span></h5>
                                <h4 class="section_header text-uppercase text-center">Ärztlicher Bereitschaftsdienst</h4>
                                <p>Bei <b>nicht lebensbedrohlichen</b> Beschwerden, etwa bei hohem Fieber, starken Bauch- schmerzen oder Erbrechen. Sie konsultieren den ärztlichen Bereitschaftsdienst, wenn Sie nachts oder am Wochenende gesundheitliche Beschwerden haben, wegen der Sie normalerweise eine Arztpraxis aufsuchen würden, die Behandlung aber nicht bis zum nächsten (Werk-)Tag warten kann.</p>
                            </div>
                            <div class="col-md-5">
                                <h5 class="text-center">Telefon <span class="h3"><b>112</b></span></h5>
                                <h4 class="section_header text-uppercase text-center">Rettungsdienst</h4>
                                <p>Bei <b>lebensbedrohlichen</b> Symptomen, beispielsweise Bewusstlosigkeit, akuten Blutungen, starke Herzbeschwerden, schwere Störungen des Atemsystems ,  Komplikationen in der Schwangerschaft und Vergiftungen. Der Rettungsdienst ist rund um die Uhr bei medizinischen Notfällen im Einsatz und innerhalb kürzester Zeit beim Patienten.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}