{% extends 'base.html.twig' %}

{% block body %}
    <div id="imprint">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1 class="page-header-big">Impressum</h1>
                    <br />
                    <p>Berufsbezeichnung:<br />
                    Facharzt für Neurochirurgie<br />
                    verliehen in der Bundesrepublik Deutschland</p>
                    <p style="margin-top: 0px; margin-bottom: 4px">
                        <span style="font-weight: bold; color: #999999">Ärztekammer:</span><br />
                        Sächsische Landesärztekammer<br />
                        Körperschaft des öffentlichen Rechts<br />
                        Schützenhöhe 16<br />
                        01074 Dresden<br />
                        www.slaek.de</p>
                    <p style="margin-top: 0px; margin-bottom: 4px">
                        <span style="font-weight: bold; color: #999999">Berufsrechtliche Regelung:</span></b><br />
                        Berufsordnung für die Ärzte in Sachsen<br />
                        www.slaek.de</p>
                    <p style="margin-top: 10px; margin-bottom: 4px">
						<span style="font-weight: bold; color: #999999">Kassenärztliche
						Vereinigung Sachsen:</span><br />
                        Geschäftsstelle Chemnitz<br />
                        Carl-Hamel-Str. 3<br />
                        09116 Chemnitz<br />
                        LANR 202461552<br />
                        BSNR 944140800</p>
						<hr />
						<br />
					<p style="margin-top: 0px; margin-bottom: 4px">
                        <span style="font-weight: bold; color: #999999">Entwicklung & Marketing</span><br />
Popcorn Solution GmbH<br />
Telefon: 0371 666 38 322<br />
Kontakt <a href="mailto: date@popcorn-solution.com">date@popcorn-solution.com</a><br />
<a href="www.popcorn-solution.com" target="_blank">www.popcorn-solution.com</a><br />
</p><br /><hr />
                    <br />
						<div class="row">
							<div class="col-md-9">
                                    <img src="{{ asset("assets/img/SMUL_LO_EPLR-CMYK-RZ.jpg") }}" />
							</div>
                            <div class="col-md-3">
                                    <img src="{{ asset("assets/img/Leader_07_13_jpg.jpg") }}" />
                            </div>
                            <div class="col-md-12">
                                <br />
							<p>Die Errichtung unserer neuen Zweigpraxis auf über 110qm zur Versorgung von Patienten im Leipziger Land ab 2020 wird unterstützt und gefördert durch: </p>
                                <br />
                                    <img src="{{ asset("assets/img/zertifikat.jpg") }}" />
                            </div>
						</div>
                    <br />
						<p>Zuständig für die Durchführung der ELER-Förderung im Freistaat Sachsen ist das Staatsministerium für Umwelt und Landwirtschaft (SM U L), Referat Förderstrategie, ELER-Verwaltungsbehörde. <br />Die Fertigstellung ist 01/2020 geplant.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
