{% extends 'base.html.twig' %}

{% block body %}

    <div id="service">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-cover-img big" style="background-image: url('{{ asset("assets/img/neurochirugie.jpg") }}')">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="layer single-page">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="text-left"><b>Fachärzte für Neurochirurgie</b> sind Spezialisten für <b>Erkrankungen am Nervensystem</b></h5>
                                        <h2 class="section_header text-uppercase text-left">Neurochirurgie Allgemein</h2>
                                    </div>
                                    <div class="col-md-12">
                                        <p>Dieses unterteilt sich in ein zentrales ( Hirn und Rückenmark) und peripheres (Armnerven/ Beinnerven)  Nervensystem. Neben dem Bereich der <b>cranialen Neurochirurgie</b> ( Erkrankungen im Schädelinneren : Hirntumore, Hirnblutungen, Hirninfarkte, Störungen am Liquorsystem) befasst sich der Bereich der <b>spinalen Neurochirurgie</b> mit Erkrankungen und Schädigungen bzw. Schmerzen, welche im Bereich der Wirbelsäule auf  Rückenmark; Spinalwurzeln und Nerven einwirken können.</p>
                                        <p><b>neurospine  = neuro (Neurochirurgie) + spine (Rücken)</b></p>
                                        <p>Besonders der Bereich der spinalen Neurochirurgie hat durch die Notwendigkeit der Berücksichtigung von Stabilität und Körperhaltung und damit der Verbindung mit Gelenken und Beweglichkeit (Orthopädie/Unfallchirurgie) als auch mit Schmerzen (Anästhesie/Schmerzmedizin) sowie der Psyche des Betroffenen ( Neurologie/Psychologie) einen hochkomplexen Charakter und bedarf  deshalb besonders <b>intensiver fachübergreifender Zusammenarbeit</b>.</p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>Die Wirbelsäule des Menschen verbindet grosse Teile des Skeletts ( Kopf-Rippen-Becken) miteinander, und ist die tragende Zentralachse des Körpers.</p>
                                        <br />
                                        <h5>Sie gliedert sich in</h5>
                                        <p> 7 Halswirbel: <b>HSW</b> (1), 12  Brustwirbel: <b>BWS</b> (2), 5  Lendenwirbel: <b>LWS</b> (3)</p>
                                        <p>sowie Kreuzbein (4) und Steissbein (5) deren Wirbelkörper nicht mehr mit Bandscheiben verbunden sind. Die Verbindung zwischen Kreuzbein und Becken bildet das </p>
                                        <p>Ileosakralgelenk ( ISG ) welches häufig als  Schmerzgenerator ausserhalb der Wirbelsäule in Erscheinung tritt.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="{{ asset("assets/img/wirbelsaeule.jpg") }}" class="img-responsive" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}